.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF; 
    padding: 8px 10px; 
    width: 100%;
    
  }
  
  .logo{
    width: 70px;
    height: auto;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .username {
    color: #333333; 
    font-weight: bold;
    margin-right: 10px;
    font-size: 13px;
  }
  
  .logout-button {
    margin-left: 10px;
    padding: 5px 8px; 
    font-size: 12px; 
  }
  .img{
    width: 30px;
    height: auto;
    border-radius: 50%;
  }


  .sidenav{
    background: #3498DB;
    transition: all .5s ease;
    position: fixed;
    z-index: 999;
    top: 50px;
    width:5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

    .logo-container{
       display: flex;
       align-items: center;
       padding: 0.938rem 0.938rem 0 0.938rem;
       width: 100%;

        .logo{
          background: #fff;
          text-align: center;
          width: 3rem;
          min-width: 3rem;
          height: auto;
          border-radius: 50%;
          padding: 0.313rem;
          font-size: 24px;
          font-weight: 900;
          cursor: pointer;
          border: none;
          margin-left: auto;
          color: #3498DB;
        }
        
           .fa-times{
            color: #fff;
            font-size: 24px;
           }
        }

    }

.sidenav-collapsed{
    width: 16.5625rem;
}
.sidenav-nav{
    list-style: none;
    padding: 1rem;
    /* padding: 0.938rem; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item{
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            
            transition: all .3s ease;

            .sidenav-link-icon{
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;

            }

            .sidenav-link-text{
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item:hover{
        .sidenav-nav-link{
          background-color: rgba(255, 255, 255, 0.5);
            color: #fff
        }
    }
}

.active{
  background-color: rgba(255, 255, 255, 0.5);

    .sidenav-link-icon,
    .sidenav-link-text{
        color: #fff;
    }
}

  